

@import 'main.css';
@import 'wrapper.css';
@import 'font.css';

*, *::before, *::after {
  font-family: "MontserratRegular", Gotham Rounded, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "MontserratMedium", Gotham Rounded, sans-serif;
}

html {
  font-size: 25px;
}

body {
  padding: 0;
  margin: 0;
}

.mr-1 {
  margin-right: 5px;
}

.navbar {
  z-index: 2;
  background: #2c355e;
  background: #0b3954ff;
  height: 90px;
}

.navbar > div {
  color: #FFF;
}

.nav-link {
  color: #FFF;
}

.nav-link:hover {
  color: gold;
}

.section-title {
  height: 200px;
}

.section-title h1 {
  font-size: 2rem;
  color: #000;
  border-bottom: 3px solid #000;
  width: 200px;
  margin: 0 auto;
}

/* #banner {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
} */

#banner .banner__block {
  background-image: url('../background_wood.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

#banner .banner_card {
  background-color: rgba(255, 90, 95, 1);
  color: #FFF;
  height: 350px;
}

#banner .personal-pic img {
  border-radius: 50%;
  background-color: rgb(255,255,255, .85);
  max-width: 350px;
}

#contact {
  padding: 75px 0;
}

#contact > div:first-of-type {
  margin: 0 auto;
  border-bottom: 3px solid #087e8bff;
}

.contact__icons {
  justify-content: space-evenly;
  margin: 25px auto 0;
}

.contact__icons {
  font-size: 75px;
}

.contact__icons > div:first-of-type, .contact__icons > div:first-of-type a, .contact__icons > div:first-of-type a:hover {
  color: #010D47;
}

.contact__icons > div:nth-of-type(2), .contact__icons > div:nth-of-type(2) a, .contact__icons > div:nth-of-type(2) a:hover {
  color: #6b0106;
}

.contact__icons > div:nth-of-type(3), .contact__icons > div:nth-of-type(3) a, .contact__icons > div:nth-of-type(3) a:hover {
  color: darkgoldenrod;
}

.contact__icons > div:last-of-type, .contact__icons > div:last-of-type a, .contact__icons > div:last-of-type a:hover {
  color: #000;
}

.contact__icons > div:last-of-type > div {
  font-size: 0.85rem;
  margin-top: -15px;
}

#summary {
  background: #ff5a5fff;
  padding: 5rem 0;
}

.summary__border {
  height: 25px;
  /* border: 5px solid #010D47; */
  border-bottom: none;
}

.left-radius {
  border-top-left-radius: 25px;
  border-right: none;
}

.center-radius {
  height: 34px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: -5px auto;
  text-align: center;
  padding-top: 3px;
  z-index: 1;
  background: #FFF;
}

.right-radius {
  border-left: none;
  border-top-right-radius: 25px;
}

#summary {
  clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
}

#summary > div:first-of-type {
    margin: 0 auto;
    color: #212529;
    border-bottom: 3px solid #087e8bff;
}

#summary > div:nth-of-type(2) {
  padding: 100px 0;
}

#summary .summary__flex {
  background: #FFF;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#summary .summary__block {
  /* border: 5px solid #010D47; */
  border-top: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 400px;
  background: #FFF;
}

.summary__title {
  margin: 0 1.5rem;
}

.summary__title h1 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #010D47;
  text-align: center;
  padding-top: 20px;
}

.summary__title h2 {
  font-size: 1rem;
  font-weight: bold;
  color: #6b0106;
  text-align: center;
  padding-top: 20px;
}

.summary__title p {
  font-size: 1rem;
  color: gray;
  text-align: center;
  padding-top: 20px;
}

.summary__icon {
  font-size: 2.5rem;
  color: #010D47;
}

.summary__icon svg {
  margin-bottom: 10px;
}

#portfolio {
  background: #f6f6f6;
  margin-top: -100px;
}

#portfolio .title {
  margin: 50px auto;
  border-bottom: 3px solid #087e8bff;
  padding-top: 50px;
}

#portfolio > div:nth-of-type(2) {
  margin: 0 auto;
}

#portfolio .portfolio__block:first-of-type {
  height: 450px;
}

#portfolio .row:first-of-type > div:last-of-type div {
  background-color: #0057b8;;
  color: #FFF;
}

#portfolio .row:nth-of-type(2) > div:last-of-type div {
  background-color: #4a0d66;
  color: #FFF;
}

#portfolio .row:nth-of-type(3) > div:last-of-type div {
  background-color: #003086;
  color: #FFF;
}

#portfolio .row:first-of-type > div:first-of-type > div:first-of-type > div {
  background-image: url('../portfolio_make-a-wish.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#portfolio .row:nth-of-type(2) > div:first-of-type > div:first-of-type > div {
  background-image: url('../portfolio_ride_end_alz.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#portfolio .row:nth-of-type(3)> div:first-of-type > div:first-of-type > div {
  background-image: url('../portfolio_beyond_boston.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #portfolio .row > div:first-of-type > div:hover {
  background: rgba(0,0,0,0.8)
} */

#portfolio .row:nth-of-type(2) {
  flex-direction: row-reverse;
}

.portfolio__block a {
  text-decoration: none;
}

#space {
  height: 175px;
  background: #f6f6f6;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
}

.mission {
  background: rgba(0,0,0,0);
  color: transparent;
  width: 100%;
  height: 100%;
}

.mission:hover {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  color: #FFF;
}

.mission p {
  font-size: 1.15rem;
  text-decoration: none;
}

#clients .clients__container {
  margin: 0 auto;
}

#clients .title {
  margin: 0 auto;
  border-bottom: 3px solid #087e8bff;;
}

#clients .clients__block {
  height: 175px;
}

#footer {
  background: #010D47;
}

#footer div {
  height: 200px;
  color: #FFF;
  align-items: center;
}

.fade {
  opacity: 0;
  transition: 0.4s opacity;
}