

@import 'main.css';
@import 'wrapper.css';

*, *::before, *::after {
  font-family: Gotham Rounded, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 25px;
}

body {
  padding: 0;
  margin: 0;
}

.mr-1 {
  margin-right: 5px;
}

.navbar {
  z-index: 1;
}

#banner .banner__block {
  background-image: url('../banner_largest.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

#banner .banner_card {
  background-color: rgba(1,13,71,.5);
  color: #FFF;
  height: 350px;
}

.summary__border {
  height: 25px;
  border: 5px solid #590306;
  border-bottom: none;
}

.left-radius {
  border-top-left-radius: 25px;
  border-right: none;
}

.center-radius {
  height: 34px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: -5px auto;
  text-align: center;
  padding-top: 3px;
}

.right-radius {
  border-left: none;
  border-top-right-radius: 25px;
}

#summary .summary__block {
  border: 5px solid #590306;
  border-top: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 250px;
}

#portfolio .portfolio__block:first-of-type {
  height: 250px;
}

#portfolio .row > div:last-of-type div {
  background: #f5e4ce;
}

#portfolio .row > div:first-of-type > div {
  background: #cedff5;
}

#portfolio .row:nth-of-type(2) {
  flex-direction: row-reverse;
}

#clients .clients__block {
  background: #cbcbcb;
  height: 175px;
}





